/* Variables */
:root {
    --sky: #CAEBF2;
    --carbon: #818080;
    --watermelon: #FF3B3F;
    --neutral: #EFEFEF;
    --slate: #343232;
    --lgray: #cfcaca;
  }
/* Universal */
body {
    font-family: "Roboto Slab", "Roboto", serif;
    color:var(--slate);
    background-color: var(--neutral);
    box-sizing:border-box;
    width:100%;
    max-width:100%;
}

/* Header */
header {
    background-color: var(--sky);
}

header > * {
    background-color: var(--sky);
}

header h1 {
    color: var(--slate)
}

.nav-link {
    color:var(--carbon);
}

.nav-tabs {
    border: none;
}

.nav-link:hover {
    color: var(--watermelon);
}

.nav-text {
    font-size: 135%;
}

/* Footer */
footer {
    min-height: 3em;
}

.footer-link {
    color:var(--slate);
}

/* Portfolio Projects */

.proj-container {
    width:49%;
    min-height: 7em;
    max-height:25em;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
    object-fit:cover;
}

.proj-container:hover {
    box-shadow: inset 0px 0px 12px
    var(--sky), 0 0 15px
    var(--watermelon);
}

.proj-container img {
    margin-top: auto;
    margin-bottom:auto;
}

.proj-name {
    border-radius: 8px;
}

.proj-name:hover {
    box-shadow: inset 0px 0px 12px
    var(--neutral), 0 0 15px
    var(--watermelon);
}

.proj-link {
    color:var(--carbon);
    text-decoration: none;
}

.proj-link:hover {
    color: var(--watermelon);
}

.git-logo {
    width:fit-content;
}

.git-logo:hover {
    box-shadow: inset 0px 0px 12px
    var(--neutral), 0 0 15px
    var(--watermelon);
    border-radius: 8px;
}

.git-logo img {
    width: 4em;
    object-fit:contain;
}

/* Link styling */

.header-link {
        color:var(--slate);
        font-size:135%;
        text-decoration: none;
}

.header-link:hover {
    color: var(--watermelon);

}

/* Font Styling */
.text-default {
    font-size: 150%;
}

.text-project {
font-size: 135%;
}

.text-carbon {
    color: var(--carbon)
}

/* Colors */

.lgray-back {
    background-color: var(--lgray);
}

.light-back {
    background-color: var(--neutral);
}

.sky-back {
    background-color: var(--sky);
}

/* Borders */
.blueborder {
    border:5px;
    border-style:solid;
    border-color:var(--sky);
    }

.border-neutral {
    border-color:var(--neutral);
}

@media screen and (max-width: 768px) {

    .proj-container {
        width:20em;
        transition: all 0.3s ease-in-out;
        overflow:hidden;
        object-fit:contain;
    }
    .text-project {
        font-size: 50%;
    }

    .git-logo img {
        width: 1em;
        object-fit:contain;
    }

    footer {
        min-height: .5em;
        flex-direction:column;
    }
    
    .footer-link {
        font-size: 50%;
    }
    
}